INFERENCE_PORT=8000
YOLO_MODEL_PATH=../backend/models/yolo/best.pt
CLASSIFIER_MODEL_PATH=../backend/models/classifiers/best.pt
PSO_RESULTS_PATH=../backend/models/classifiers/hybrid_effnet_pso_results.json
